:{
   background-color: #001cba;
}
					                   
.game_cover_art:hover 
{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
   transform: scale(1.5); 
}

.games
{
   position: absolute;
										             
																            }
																	           #0
																		          {
																				             position:fixed;
																					            }
																						           #1
																							          {
																									             position:fixed;
																										            }
																											           #2
																												          {
																														             position:fixed;
																															            }
																																           #3
																																	          {
																																			             position:fixed;
																																				            }
																																					           #4
																																						          {
																																								             position:fixed;
																																									            }
																																										            </style>
																																											           
																																											          
																																											      
																																											     
